/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ LABOR TABLE */

@media only screen and (max-width: 640px)  {
#labor table, #labor td, #labor tbody, #labor td{
    display: block;
    width:100% !important;
    height:100px;
    clear:both;
    vertical-align: center !important;
}
#labor td {
    margin-bottom:15px;
    padding:10%;
}   
}
#labor {
    color:#fff;
    font-family: 'Karla', sans-serif;
    font-size: 125%;
    line-height:140%;
    font-weight:800;
    vertical-align:center;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.125);
}
#labor td a{
    color:#fff;
}
#labor td{
    border:none;
    height:325px;
    width:30%;
    border-spacing:5%;
}
#labor td.rumble a, #labor td.catnip a, #labor td.kinbaku a, #labor td.experientialretail a, #labor td.tabi a, #labor td.popeye a, #labor td.cloutgoggles a, #labor td.backpack a, #labor td.motocross a, #labor td.sketches a{
  display:block;
    width:100%;
    height:auto;
}
#labor td.rumble{
  background:#c16e69;
}
#labor td.rumble:hover{
    background-image:url("https://www.leslie-zhang.com/General_Images/Index_Rumble.jpg");
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
    transition: .5s ease-out;
    -moz-transition: .5s ease-out;
    -webkit-transition: .5s ease-out;
    -o-transition: .5s ease-out;
    background-blend-mode:soft-light;
}
#labor td.catnip{
  background:#e5c169;
}
#labor td.catnip:hover{
    background-image:url('https://www.leslie-zhang.com/General_Images/Index_Catnip.jpg');
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
    transition: .5s ease-out;
    -moz-transition: .5s ease-out;
    -webkit-transition: .5s ease-out;
    -o-transition: .5s ease-out;
    background-blend-mode: soft-light;
}
#labor td.kinbaku {
    background:#2f5e7c;
}
#labor td.kinbaku:hover {
    background-image:url('https://www.leslie-zhang.com/General_Images/Index_Kinbaku.jpg');
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
    transition: .5s ease-out;
    -moz-transition: .5s ease-out;
    -webkit-transition: .5s ease-out;
    -o-transition: .5s ease-out;
    background-blend-mode:soft-light;
}
#labor td.experientialretail {
    background:#2f5e7c;
}
#labor td.experientialretail:hover {
    background-image:url('https://www.leslie-zhang.com/General_Images/Index_ExperientialRetail.jpg');
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
    transition: .5s ease-out;
    -moz-transition: .5s ease-out;
    -webkit-transition: .5s ease-out;
    -o-transition: .5s ease-out;
    background-blend-mode:soft-light;
}
#labor td.tabi {
    background:#c16e69;
}
#labor td.tabi:hover {
    background-image:url('https://www.leslie-zhang.com/General_Images/Index_Tabi.jpg');
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
    transition: .5s ease-out;
    -moz-transition: .5s ease-out;
    -webkit-transition: .5s ease-out;
    -o-transition: .5s ease-out;
    background-blend-mode:soft-light;
}
#labor td.popeye {
    background:#e5c169;
}
#labor td.popeye:hover {
    background-image:url('https://www.leslie-zhang.com/General_Images/Index_Popeye.jpg');
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
    transition: .5s ease-out;
    -moz-transition: .5s ease-out;
    -webkit-transition: .5s ease-out;
    -o-transition: .5s ease-out;
    background-blend-mode:soft-light;
}
#labor td.cloutgoggles {
    background:#e5c169;
}
#labor td.cloutgoggles:hover {
    background-image:url('https://www.leslie-zhang.com/General_Images/Index_CloutGoggles.jpg');
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
    transition: .5s ease-out;
    -moz-transition: .5s ease-out;
    -webkit-transition: .5s ease-out;
    -o-transition: .5s ease-out;
    background-blend-mode:soft-light;
}
#labor td.backpack {
  background:#2f5e7c;
}
#labor td.backpack:hover {
    background-image:url('https://www.leslie-zhang.com/General_Images/Index_Backpack.jpg');
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
    transition: .5s ease-out;
    -moz-transition: .5s ease-out;
    -webkit-transition: .5s ease-out;
    -o-transition: .5s ease-out;
    background-blend-mode:soft-light;
}
#labor td.sketches {
    background:#c16e69;
}
#labor td.sketches:hover {
    background-image:url('https://www.leslie-zhang.com/General_Images/Index_Sketches.jpg');
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
    transition: .5s ease-out;
    -moz-transition: .5s ease-out;
    -webkit-transition: .5s ease-out;
    -o-transition: .5s ease-out;
    background-blend-mode:soft-light;
}
